body{
    background-color: #f0f0f0;
}

div.main {
    background-color: #fff;
    padding: 20px;
}

form#search {
    margin-top: 10px;
    margin-left: 200px;
}


img {
    width: 600px;
}

img.listImg {
    width: 192px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#id_comment {
    width: 800px;
    height: 100px;
}

#id_submit {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}


/* by max qa pro */

div.col-sm-9 div.panel-body {
  padding: 5px;
}

div.panel-body div.thumbnail {
  margin-bottom: 5px;
}

img.J_head {
  width: 50px;
  height: 50px;
  float: left;
}

div.J_nodes_list {
  overflow: hidden;
}

div.J_info {
  margin-left: 60px;
}

span.J_comment_count {
  margin-right: 10px;
}

select.J_select {
  width: 120px;
  display: inline-block;
}
