{% for i in car_list %}
<li>
    <div class="thumbnail" style="overflow: hidden">
        <div class="span4" style="float: left;margin: 10px" >
            <a href="{% url 'spider:detail' i.id %}">
                <img class="img-rounded listImg" src="{{ i.car_icon }}"/></a>

        </div>
        <div>
            <div class="caption" style="overflow: hidden">
                <h3><a href="{% url 'spider:detail' i.id %}" class="text-warning">{{ i.car_title }}</a> </h3>
            </div>
            <p style="overflow: hidden">{{ i.car_des }}</p>
        </div>
    </div>
</li>
{% endfor %}
