{% extends "base.html" %}
{% block title %}py-selenium论坛{% endblock %}
{% block content %}
{% load comments %}
{% load gravatar %}
{% load pagination_tags %}
{% autopaginate topic_list 10 %}
<div class="panel panel-default">
  <div class="panel-heading">公告栏
  </div>
  <div class="panel-body">
{% for i in pub_list %}
<div class="thumbnail J_nodes_list">
  <div class="captain">
    <img class="img-rounded J_head" src="{% gravatar_url i.topic_author.user.email %}"></img>
    <div class="J_info">
      {%get_comment_count for i as comment_count%}
      <h4>
        <a href="{% url 'bbs:detail' i.id %}">{{ i.topic_title }}</a>
        <span class="J_create_info pull-right ">
          - create by·{{i.topic_author}}·{{ i.topic_time|date:"Y/m/d,H:i" }}
          <span class="badge J_comment_count">{{ comment_count }}</span>
        </span>
      </h4>

      <span class="J_reply_info">
        most recent reply·{{ i.topic_final_comment_user }}·{{ i.topic_final_comment_time|date:"Y/m/d,H:i" }}
      </span>
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    {% if board_info %}
    {{board_info}}
    {% else %}
    全部
    {%endif%}
    <button class="btn btn-primary btn-xs J_redi">
      发表新帖
    </button>
  </div>
  <div class="panel-body">
    {% for i in topic_list %}
    <div class="thumbnail J_nodes_list">
      <div class="captain">
        <img class="img-rounded J_head" src="{% gravatar_url i.topic_author.user.email %}"></img>
        <div class="J_info">
          {%get_comment_count for i as comment_count%}
          <h4>
            <a href="{% url 'bbs:detail' i.id %}">{{ i.topic_title }}</a>
            <span class="J_create_info pull-right ">
              - create by·{{i.topic_author}}·{{ i.topic_time|date:"Y/m/d,H:i" }}
              <span class="badge J_comment_count">{{ comment_count }}</span>
            </span>
            
            
          </h4>
          
          
          <span class="J_reply_info">
            most recent reply·{{ i.topic_final_comment_user }}·{{ i.topic_final_comment_time|date:"Y/m/d,H:i" }}
          </span>
          
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="J_paginate">
    {% paginate %}
  </div>
  </div>
</div>

{% endblock %}
{% block website %}
<h4>选择板块</h4>

<form action="" method="get" id="mysite" name="site">
    <div class="btn-group">
      {% for i in board_list %}
      <button type="submit" class="btn btn-primary btn-xs J_board_select" id="{{i}}">{{i}}</button>
      
      {% endfor %}
      <!-- <button type="submit" class="btn btn-default" id="neeu">neeu</button> -->
      <input type="hidden" id="boardswitch" name="board" >
    </div>

<hr/>
<h4>标签</h4>

  <div>
  {%for i in tags%}
    <span class="label label-info J_tags" id="{{i}}">{{i}}</span>
  {%endfor%}
    <input type="hidden" id="tagswitch" name="tag" >
  </div>
</form>
<hr/>
{% endblock %}
{% block script %}

{% endblock %}

